/* styles.css */

#navbar {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 200px;
    padding-top: 15px;
    padding-left: 15px;
}@media only screen and (min-width: 900px) {
    body {
background-color:lightblue;
    }

}